.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    box-shadow: none!important;
    background-color: white!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.css-1ijquoq{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}